$linkedinBlue1: #0072b1;
$linkedinBlue2: #0073b1;
$linkedinBlue3: #004c75;

body {
  margin: 0;
  padding: 0;
}
.login-wrapper {
  background-color: white;
  display: flex;
  justify-content: center;
  padding-top: 40px;
  .login-wrapper-inner,
  .img-login {
    width: 600px;
  }

  .heading {
    font-family: system-ui;
    font-size: 56px;
    font-weight: 200;
    color: #8f5849;
  }

  .sub-heading {
    margin-top: -20px;
    font-family: system-ui;
  }
}
.forgot-password {
  margin: 16px 0 0 0;
  font-weight: 600;
  font-size: 16px;
  color: #0a66c2;
  font-family: system-ui;
  cursor: pointer;
}
.forgot-password:hover {
  color: $linkedinBlue3;
}

.login-btn {
  width: 430px;
  height: 48px;
  cursor: pointer;
  background-color: $linkedinBlue2;
  border-radius: 30px;
  outline: none;
  border: none;
  font-family: system-ui;
  font-weight: 600;
  color: #ffffff;
  font-size: 18px;
  margin-top: 20px;
  margin-bottom: 24px;
}

.login-btn:hover {
  background-color: $linkedinBlue3;
}

.auth-inputs {
  margin-top: 24px;
  width: 408px;
  .email,
  .password {
    margin-top: 12px;
  }
  .input-title {
    margin-bottom: 8px;
    color: rgba(0, 0, 0, 0.75);
    font-size: 14px;
    font-weight: 600;
    font-family: system-ui;
  }
  .common-input {
    width: 408px;
    height: 35px;
  }
}
