.wrapper {
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}
.linkedinLogo {
  height: 34px;
  width: 135px;
  margin-right: 400px;
}
.inner {
  display: flex;
  max-width: 1128px;
  align-items: center;
}
.SubHeadline {
  display: flex;
}

.discover,
.people,
.learning{
  margin-right: 8px;
  width: 80px;
  height: 52px;
  font-size: 14px;
  display: grid;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.jobs{
  margin-right: 8px;
  width: 80px;
  height: 52px;
  font-size: 14px;
  display: grid;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-right: 0.3px solid rgba(0, 0, 0, 0.75);  
}
.join-now-btn {
  width: 112px;
  min-height: 48px;
  height: min-content;
  font-size: 16px;
  cursor: pointer;
  margin-right: 8px;
  font-size: 16px;
  display: grid;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  border-radius: 24px;
  color: rgba(0, 0, 0, 0.75);
}
.join-now-btn:hover {
  background-color: rgba(0, 0, 0, 0.04);
}
.sign-in-btn {
  width: 112px;
  min-height: 48px;
  height: min-content;
  font-size: 16px;
  cursor: pointer;
  margin-right: 8px;
  font-size: 16px;
  display: grid;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  border-radius: 24px;
  color: #0a66c2;
  border: 1px solid #0a66c2;
}
.sign-in-btn:hover {
  background-color: rgba(0, 0, 0, 0.04);
}
.icon {
  display: flex;
  justify-content: center;
  color: rgba(0, 0, 0, 0.6);
}
