.wrapper-findjob {
  display: flex;
  justify-content: center;
  padding-top: 20px;
  background-color: #e8e8e8;
}
.title {
  font-family: system-ui;
  font-size: 56px;
  font-weight: 200;
  max-width: 600px;
}
.suggested-searches {
  width: 600px;
  .suggested-searches-tittle {
    font-family: system-ui;
    font-size: 16px;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.6);
    line-height: 1.25;
  }
}
.search-filter {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.search-name {
  text-decoration: none;
  margin: 4px 4px 4px 0px;
  justify-content: center;
  border-radius: 24px;
  border: 1px solid rgba(0, 0, 0, 0.75);
  
  .search-name-title {
    margin: 15px 15px 15px 15px;
    color: rgba(0, 0, 0, 0.75);
    font-family: system-ui;
    font-size: 16px;
    font-weight: bold;
    border-bottom: 0 px;
    word-break: keep-all;
  }
}
.search-name:hover {
  background-color: rgba(0, 0, 0, 0.04);
}
